section.page__rooms.rooms 
    .rooms__container 
        .rooms__body
            h3.rooms__title._title 50+ Beautiful rooms inspiration
            .rooms__text Our designer already made a lot of beautiful prototipe of rooms that inspire you
            a.rooms__button.btn(href="") Explore More
        .rooms__slider.slider-rooms 
            .slider-rooms__body._swiper 
                .slider-rooms__slide
                    .slider-rooms__image._ibg
                        img(src="@img/rooms/01.jpg", alt="")
                    a.slider-rooms__content._icon-arrow-link(href="", data-swiper-parallax-opacity="0", data-swiper-parallax-y="-100%")
                        .slider-rooms__label.label-slider 
                            .label-slider__number 01
                            .label-slider__line
                            .label-slider__text Bed Room
                        .slider-rooms__title Inner Peace
                .slider-rooms__slide
                    .slider-rooms__image._ibg
                        img(src="@img/rooms/02.jpg", alt="")
                    a.slider-rooms__content._icon-arrow-link(href="", data-swiper-parallax-opacity="0", data-swiper-parallax-y="-100%")
                        .slider-rooms__label.label-slider 
                            .label-slider__number 02
                            .label-slider__line
                            .label-slider__text Bed Room
                        .slider-rooms__title Inner Peace
                .slider-rooms__slide
                    .slider-rooms__image._ibg
                        img(src="@img/rooms/03.jpg", alt="")
                    a.slider-rooms__content._icon-arrow-link(href="", data-swiper-parallax-opacity="0", data-swiper-parallax-y="-100%")
                        .slider-rooms__label.label-slider 
                            .label-slider__number 03
                            .label-slider__line
                            .label-slider__text Bed Room
                        .slider-rooms__title Inner Peace
            .slider-rooms__arrows.slider-arrows
                button.slider-arrow.slider-arrow_white.slider-arrow_prev._icon-arrow-down(type="button")
                button.slider-arrow.slider-arrow_white.slider-arrow_next._icon-arrow-down(type="button")
            .slider-rooms__dotts