section.page__furniture.furniture
    .furniture__no-container
        .furniture__label Share your setup with
        h2.furniture__title._title #FuniroFurniture
        .furniture__body(data-speed="0.1")
            .furniture__items 
                .furniture__column 
                    .furniture__row.row-furniture.row-furniture_left-top
                        a.row-furniture__item(href="@img/furniture/09.jpg")
                            img(src="@img/furniture/09.jpg", alt="image") 
                        a.row-furniture__item(href="@img/furniture/01.jpg")
                            img(src="@img/furniture/01.jpg", alt="image")
                        a.row-furniture__item(href="@img/furniture/02.jpg")
                            img(src="@img/furniture/02.jpg", alt="image")
                    .furniture__row.row-furniture.row-furniture_left-bottom
                        a.row-furniture__item(href="@img/furniture/04.jpg")
                            img(src="@img/furniture/04.jpg", alt="image") 
                        a.row-furniture__item(href="@img/furniture/06.jpg")
                            img(src="@img/furniture/06.jpg", alt="image")
                        a.row-furniture__item(href="@img/furniture/07.jpg")
                            img(src="@img/furniture/07.jpg", alt="image")
                .furniture__column 
                    .furniture__row.row-furniture.row-furniture_center
                        a.row-furniture__item(href="@img/furniture/03.jpg")
                            img(src="@img/furniture/03.jpg", alt="image")
                .furniture__column 
                    .furniture__row.row-furniture.row-furniture_right-top
                        a.row-furniture__item(href="@img/furniture/04.jpg")
                            img(src="@img/furniture/04.jpg", alt="image") 
                        a.row-furniture__item(href="@img/furniture/05.jpg")
                            img(src="@img/furniture/05.jpg", alt="image")
                        a.row-furniture__item(href="@img/furniture/01.jpg")
                            img(src="@img/furniture/01.jpg", alt="image")
                    .furniture__row.row-furniture.row-furniture_right-bottom
                        a.row-furniture__item(href="@img/furniture/08.jpg")
                            img(src="@img/furniture/08.jpg", alt="image") 
                        a.row-furniture__item(href="@img/furniture/09.jpg")
                            img(src="@img/furniture/09.jpg", alt="image")
                        a.row-furniture__item(href="@img/furniture/06.jpg")
                            img(src="@img/furniture/06.jpg", alt="image")