- const icons = [{img: '01', title: 'Hight Quality', text: 'crafted from top materials'}, {img: '02', title: 'Warrany Protection', text: 'Over 2 years'}, {img: '03', title: 'Free Shipping', text: 'Order over 150 $'}, {img: '04', title: '24 / 7 Support', text: 'Dedicated support'}]

section.page__advantages.advantages
    .advantages__container
        each item in icons 
            .advantages__item
                .advantages__icon
                    img(src="@img/advantages/" + item.img + ".svg" alt= item.title)
                h3.advantages__title= item.title
                .advantages__text= item.text