section.page__tips.tips 
    .tips__container 
        h2.tips__title._title Tips & Tricks
        .tips__slider.slider-tips 
            .slider-tips__body._swiper
                .slider-tips__slide 
                    a.slider-tips__image._ibg
                        img(src="@img/tips/01.jpg", alt="")
                    .slider-tips__content 
                        h3.slider-tips__title How to create a living room to love
                        .slider-tips__text 20 jan 2020
                .slider-tips__slide 
                    a.slider-tips__image._ibg
                        img(src="@img/tips/02.jpg", alt="")
                    .slider-tips__content 
                        h3.slider-tips__title Solution for clean look working space
                        .slider-tips__text 10 jan 2020
                .slider-tips__slide 
                    a.slider-tips__image._ibg
                        img(src="@img/tips/03.jpg", alt="")
                    .slider-tips__content 
                        h3.slider-tips__title Make your cooking activity more fun with good setup
                        .slider-tips__text 10 jan 2020
            .slider-tips__dotts
            .slider-tips__arrows.slider-arrows
                button.slider-arrow.slider-arrow_white.slider-arrow_prev._icon-arrow-down(type="button")
                button.slider-arrow.slider-arrow_white.slider-arrow_next._icon-arrow-down(type="button")
