section.page__advantages.advantages
    .advantages__container
        .advantages__item
            .advantages__icon
                img(src="@img/advantages/01.svg" alt="Hight Quality")
                h3.advantages__title Hight Quality
                .advantages__text crafted from top materials
        .advantages__item
            .advantages__icon
                img(src="@img/advantages/02.svg" alt="Warrany Protection")
                h3.advantages__title Warrany Protection
                .advantages__text Over 2 years
        .advantages__item
            .advantages__icon
                img(src="@img/advantages/03.svg" alt="Free Shipping")
                h3.advantages__title Free Shipping
                .advantages__text Order over 150 $
        .advantages__item
            .advantages__icon
                img(src="@img/advantages/04.svg" alt="24 / 7 Support")
                h3.advantages__title 24 / 7 Support
                .advantages__text Dedicated support