section.page__main-slider.main-slider
    .main-slider__container
        .main-slider__body
            .main-slider__content.content-main
                h1.content-main__title High-Quality Furniture Just For You
                .content-main__text Our furniture is made from selected and 
                    | best quality materials that are suitable for your dream home
                a.content-main__button.btn(href="") Shop Now
            .main-slider__slider.slider-main
                .slider-main__controls.controls-slider-main
                    .controls-slider-main__dotts
                    .controls-slider-main__arrows.slider-arrows 
                        button.slider-arrow.slider-arrow_prev._icon-arrow-down(type="button")
                        button.slider-arrow.slider-arrow_next._icon-arrow-down(type="button")
                .slider-main__body._swiper
                    .slider-main__slide
                        .slider-main__image._ibg
                            img(src="@img/main-slider/01.jpg", alt="image")
                        a.slider-main__content(href="")
                            .slider-main__title Bohauss
                            .slider-main__text Luxury big sofa 2-seat
                            .slider-main__price._icon-arrow-link Rp 17.000.000
                    //- .slider-main__slide
                    //-     .slider-main__image._ibg
                    //-         img(src="@img/main-slider/02.jpg", alt="image")
                    //-     a.slider-main__content(href="")
                    //-         .slider-main__title Bohauss
                    //-         .slider-main__text Luxury big sofa 2-seat
                    //-         .slider-main__price._icon-arrow-link Rp 17.000.000
                    //- .slider-main__slide
                    //-     .slider-main__image._ibg
                    //-         img(src="@img/main-slider/03.jpg", alt="image")
                    //-     a.slider-main__content(href="")
                    //-         .slider-main__title Bohauss
                    //-         .slider-main__text Luxury big sofa 2-seat
                    //-         .slider-main__price._icon-arrow-link Rp 17.000.000
