.rooms
    background: #FCF8F3
    @include adaptiv-value("padding-top", 44, 30, 1)
    @include adaptiv-value("padding-bottom", 44, 30, 1)
    &__container
        @media (min-width: $md2+px)
            display: flex
    &__body
        flex: 0 0 465 / 1240 * 100%
        position: relative
        z-index: 5
        align-self: center
        @media (min-width: $md2+px)
            @include adaptiv-value("padding-right", 80, 30, 1)
        @media (max-width: $md2+px)  
            margin: 0 0 30px 0 
    &__title
        &:not(:last-child)
            margin: 0 0 8px/40px * 1em 0
        text-align: left
    &__text
        line-height: 150%
        font-weight: 500
        &:not(:last-child)
            margin: 0 0 24px 0
    &__button
        background: $orangeColor
        color: #fff
        min-width: 180px
        @media (any-hover: hover)
            &:hover
                background-color: #8d6146
    &__slider
        flex: 1 1 auto
        min-width: 0
        align-self: flex-start
        @media (max-width: $md4+px)
            margin: 0 -15px

.slider-rooms
    position: relative
    &__body
        overflow: visible
        position: relative
        &::before
            content: ""
            position: absolute
            top: 0
            height: 100% 
            width: 100vw
            left: 0
            background-color: #fcf8f3
            z-index: 2
            transform: translate(-100%, 0px)
        @media (min-width: $md2+px)
            margin: 0 0 30px 0

    &__slide
        width: 372px
        position: relative
        overflow: hidden
        @include adaptiv-value("min-height", 585, 400, 1)
        &.swiper-slide-active
            .slider-rooms__image
                height: 100%
        @media (max-width: $md4+px)
            width: 100%
    &__image
        transition: height 0.8s ease 0s
        height: 100%
        @media (min-width: $md3+px)
            height: 83%
    &__content
        position: absolute
        color: inherit
        max-width: 240px
        @include adaptiv-value("left", 24, 15, 1)
        @include adaptiv-value("bottom", 24, 15, 1)
        @include adaptiv-value("padding", 32, 15, 1)
        background: rgba(255, 255, 255, 0.9)
        @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px)))
            background: rgba(255, 255, 255, 0.72)
            backdrop-filter: blur(31px)
        &::before
            position: absolute
            bottom: 0
            right: 0
            transform: translate(100%, 0px)
            width: 48px
            height: 48px
            background-color: $orangeColor
            color: #fff
            display: flex
            justify-content: center
            align-items: center
    &__label

    &__title
        font-weight: 600
        @include adaptiv-value("font-size", 28, 24, 1)    
    &__arrows
        pointer-events: none
        position: absolute
        top: 50%
        transform: translate(0px, -50%)
        width: calc(100% - 48px)
        left: 24px
        z-index: 5
        justify-content: space-between
        @media (min-width: $md1+px)
            width: calc(100% + 48px)
            left: -24px

    &__dotts
        @media (min-width: $md3+px)
            position: absolute
            bottom: 30px
            left: 396px
            width: 100%
        @media (max-width: $md3+px)
            justify-content: center
            padding: 15px 0 0 0 
.label-slider
    display: grid
    grid-template-columns: auto 27px auto
    gap: 8px
    align-items: center
    justify-content: start
    &:not(:last-child)
        margin: 0 0 8px 0
    &__number

    &__line
        height: 1px
        background-color: $darkGrayColor
//     &__text


// .slider-arrows

// .slider-arrow
//     &_white

//     &_prev

//     &_next



